body::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: auto;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    z-index: 1; /* Asegúrate de que el fondo esté en un nivel bajo */
    pointer-events: none; /* Asegúrate de que no interfiera con los elementos interactivos */
}

body {
    margin: 0;
    padding-top: 160px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff; /* Fondo blanco para el header */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el header */
    z-index: 1000;
    padding: 25px 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-icon {
    width: 60px; /* Tamaño del icono */
    height: 60px;
    border-radius: 60%; /* Icono redondeado */
}

header h1 {
    margin: 0;
    color: #FF8427; /* Texto naranja */
    font-size: 24px;
}

.segundo-header {
    display: flex;
    gap: 10px;
}

.segundo-header form {
    margin: 0;
}

.segundo-header button {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: 2px solid transparent; /* Sin borde por defecto */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px 20px;
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave */
}

.segundo-header button:hover {
    border-bottom: 2px solid #FF8427; /* Línea blanca abajo */
}

.info-usuarios-container {
    display: none;
    position: absolute;
    top: 50px; /* Ajusta la posición según sea necesario */
    right: 20px; /* Ajusta la posición según sea necesario */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1000;
    border-radius: 25px;
}

/* Estilos para el botón de usuario */
#btnusuarios {
    background-color: white; /* Fondo blanco */
    color: red; /* Texto negro */
    border: 2px solid transparent; /* Sin borde por defecto */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px 20px;
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave */
}

#btnusuarios:hover {
    border-bottom: 2px solid #FF8427; /* Línea blanca abajo */
}



.ranking-restaurantes {
    text-align: center;
    margin: 50px auto;
}

.ranking-restaurantes h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.ranking-restaurantes table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 18px; /* Aumentar el tamaño de las letras */
}

.ranking-restaurantes th, .ranking-restaurantes td {
    border: 1px solid #ddd; /* Agregar líneas verticales y horizontales */
    padding: 12px; /* Aumentar el padding para mayor separación */
    text-align: left;
}

.ranking-restaurantes th {
    background-color: #FF8427; /* Cambiar el color del encabezado a naranja */
    color: white;
    font-weight: bold;
    text-align: center; /* Centrar el texto del encabezado */
}

.ranking-restaurantes td {
    color: black;
}

.ranking-restaurantes .estrellas {
    color: orange;
}

.ranking-restaurantes table tr {
    cursor: pointer;
}

.ranking-restaurantes table tr:hover {
    background-color: #f1f1f1;
}



form {
    text-align: center;
    margin: auto;
}



/* Estilos para el formulario de búsqueda */
form {
    display: flex;
    justify-content: right;
    margin-bottom: 20px; /* Espacio debajo del formulario */
    margin-right: 30px;
}

form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FF8427; /* Borde naranja */
    border-radius: 4px 0 0 4px; /* Bordes redondeados en la izquierda */
    width: 300px; /* Ancho de la caja de texto */
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF8427; /* Fondo naranja */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 0 4px 4px 0; /* Bordes redondeados en la derecha */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s; /* Transición para el efecto hover */
}

form button:hover {
    border-bottom: 2px solid #FF8427; /* Línea blanca abajo */
}

footer {
    background-color: #FF8427; /* Cambié el color a uno similar al segundo-header */
    color: black;
    text-align: center;
    padding: 40px 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Centro los elementos verticalmente */
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 20px; /* Añadí un margen para separar las secciones */
    text-align: left; /* Alineo el texto a la izquierda */
}

.footer-section h3 {
    color: #fff;
    margin-bottom: 15px; /* Añadí margen inferior para separar el título del contenido */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #bbb; /* Cambié el color al hacer hover */
}

.footer-line {
    width: 100%;
    border-top: 1px solid #bbb;
    margin: 20px 0;
    padding-top: 3px;
    color: black;
    background-color: black;
}

.icono-btn i {
    color: black;
}

.icono-btn:hover i {
    color: #FF8427;
}

